body {
  overflow: hidden;
  background-color: #3C4D59;
}

canvas {
  position: absolute;
  left: 50%;
  margin-left: -30vh;
  top: 0px;
}

.bg-left {
  position: absolute;
  width: calc(50vw - 30vh);
  height: 100vh;
  left: 0px;
  top: 0px;
  background: url("links.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-right {
  position: absolute;
  width: calc(50vw - 30vh);
  height: 100vh;
  right: 0px;
  top: 0px;
  background: url("rechts.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
